#overlayText{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 200%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	z-index: 2000;
	text-align: center;
	color: chartreuse;
	border-radius: 8px;
	user-select: none;
}

.options{
	font-size: 50%;
	color: crimson;
	border: 0.3px solid white;
	box-shadow: 0.5px 0.5px 0.5px 0.5px wheat;
	width: 20vw;
	height: auto;
	display: inline-block;
	border-radius: 8px;
	justify-content: center;
	padding: 10px;
	margin: 10px;
	user-select: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.options:hover{
	color: black;
	border: 0.3px solid crimson;
	box-shadow: 0.5px 0.5px 0.5px 0.5px crimson;
	background-color: whitesmoke;

}